<div class="p-4 max-w-screen-xl mx-auto">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-users-list
        [users]="usersList"
        (onUserSelected)="onUserSelected($event)"
      ></app-users-list>
      <app-buttons-container
        *ngIf="userSelectedIndex != undefined"
        [isEditMode]="isEditMode"
        (onEditBtn)="onEditBtn()"
        (onCancelBtn)="onCancelBtn()"
      ></app-buttons-container>
      <app-user-info-container
        *ngIf="userSelectedIndex != undefined"
        [user]="userSelected"
        [isEditMode]="isEditMode"
      ></app-user-info-container>
    </mat-card-content>
  </mat-card>
</div>
