<app-card>
  <app-card-header>
    <app-card-item-header
      pathIcon="assets/icons/icon-credit-card.png"
      title="Cartão de Crédito"
    ></app-card-item-header>
  </app-card-header>
  <app-card-content>
    <div class="ca-c-card-item">
      <p appCardTextDescription>
        1234567891011 <br />
        BRUNO HENRIQUE SILVA SOARES
      </p>

      <p appCardTextDescription>MASTER CARD</p>
    </div>

    <app-card-item text="Limite de Compra" value="R$ 1000,00"></app-card-item>

    <app-card-item-line></app-card-item-line>

    <app-card-item text="Disponível" value="R$ 1200,00"></app-card-item>

    <app-card-item text="Limite de Saque" value="R$ 2000,00"></app-card-item>

    <app-card-item-line></app-card-item-line>

    <app-card-item text="Disponível" value="R$ 1300,00"></app-card-item>

    <app-card-item
      text="Limite Total Utilizado"
      value="R$ 3000,00"
    ></app-card-item>
  </app-card-content>
</app-card>
