<!-- <app-card>
  <p class="text">Parágrafo criado com ng-content a partir do appcomponent</p>
  <button>Botão ng content</button>
</app-card>
<br />
<app-card>
  <p>Parágrafo Diferente utilizando o ng content</p>
  <button class="text">Botão ng content diferente do primeiro</button>
</app-card>
<br />
<app-card>
  <p>Conteudo diferente utilizando o mesmo componente</p>
  <button attrTeste>Ultimo conteudo diferente</button>
</app-card>
<br /> -->

<!-- Projeto card com projeção de conteúdo -->
<div class="container">
  <div class="item">
    <app-card-projecao>
      <div cardHeader class="card__header">
        <img src="../assets/icons/icon-client.png" class="card__image" />
      </div>
      <div cardContent class="card__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor
          erat leo, nec rhoncus lectus feugiat eu. Duis massa diam, ornare
          consequat tempus at, ultrices in arcu. Aliquam tristique commodo felis
          vel porta. Praesent luctus fermentum maximus. Suspendisse eu arcu in
          massa aliquet malesuada.
        </p>
      </div>
    </app-card-projecao>
  </div>
  <div class="item">
    <app-card-projecao>
      <div cardHeader class="card__header">
        <img src="../assets/icons/icon-hand.png" class="card__image" />
      </div>
      <div cardContent class="card__content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempor
          erat leo, nec rhoncus lectus feugiat eu. Duis massa diam, ornare
          consequat tempus at, ultrices in arcu. Aliquam tristique commodo felis
          vel porta. Praesent luctus fermentum maximus. Suspendisse eu arcu in
          massa aliquet malesuada.
        </p>
      </div>
    </app-card-projecao>
  </div>
</div>
