<app-card>
  <app-card-header color="blue">
    <app-card-item-header
      pathIcon="assets/icons/icon-client.png"
      title="Informações do Cliente"
    ></app-card-item-header>
  </app-card-header>
  <app-card-content>
    <app-card-item
      text="Nome"
      value="Bruno Henrique Silva Soares"
    ></app-card-item>

    <app-card-item-line></app-card-item-line>

    <app-card-item text="Idade" value="21 anos"></app-card-item>

    <app-card-item-line></app-card-item-line>

    <app-card-item text="Renda Mensal" value="R$ 50000,00"></app-card-item>

    <app-card-item-line></app-card-item-line>

    <app-card-item text="Nacionalidade" value="Brasileiro"></app-card-item>
  </app-card-content>
</app-card>
