<!-- Diretivas com seletor único -->
<div class="card">
  <!-- Com classe global / Com diretiva -->
  <!-- <h1 class="ca-u-card-text-title">Título do card</h1> -->
  <app-card-text-title>Título do card</app-card-text-title>

  <!-- <h1 class="ca-u-card-text-subtitle">Subtítulo do card</h1> -->
  <app-card-text-subtitle>Subtítulo do card</app-card-text-subtitle>

  <!-- <h1 class="ca-u-card-text-description">Descrição do card</h1> -->
  <app-card-text-description color="green"
    >Descrição do card</app-card-text-description
  >
</div>

<!-- Aplicação da diretiva por elemento -->
<app-card-avatar-small>
  <img src="../assets/images/lofi.jpg" />
</app-card-avatar-small>

<app-card-avatar-large>
  <img src="../assets/images/lofi.jpg" />
</app-card-avatar-large>

<br />
<br />
<hr />
<br />
<br />

<!-- Diretiva com multiplos seletores -->
<div class="card">
  <h1 appCardTextTitle>Título do card</h1>
  <app-card-text-title>Título do card</app-card-text-title>

  <h1 appCardTextSubtitle>Subtítulo do card</h1>
  <app-card-text-subtitle>Subtítulo do card</app-card-text-subtitle>

  <h1 appCardTextDescription color="purple">Descrição do card</h1>
  <app-card-text-description color="green"
    >Descrição do card</app-card-text-description
  >
</div>

<app-card-avatar-small>
  <img src="../assets/images/lofi.jpg" />
</app-card-avatar-small>
<img appCardAvatarSmall src="../assets/images/lofi.jpg" />

<app-card-avatar-large>
  <img src="../assets/images/lofi.jpg" />
</app-card-avatar-large>
<img appCardAvatarLarge src="../assets/images/lofi.jpg" />
