<!-- Execução normal do life cycle -->
<!-- 
<div>
  Execução normal:
  <app-comp></app-comp>
</div>
-->

<!-- Execução com o ng-container -->
<!-- NG-CONTAINER não é renderizado na DOM final -->
<!-- 
<ng-container>
  Execução com ng-container:
  <app-comp></app-comp>
</ng-container>
-->

<!-- Execução com o ng-template -->
<!-- NG-TEMPLATE não é iniciado automaticamente, também não é renderizado na DOM final -->
<!-- 
<ng-template>
  Execução com ng-template:
  <app-comp></app-comp>
</ng-template>
-->

<hr />
Desafio: Passar os ng-templates por INPUT para componente de app-card
<hr />
<app-card
  [headerTemp]="headerTemp"
  [contentTemp]="contentTemp"
  [footerTemp]="footerTemp"
></app-card>

<ng-template #headerTemp>
  <p>Header template</p>
</ng-template>
<ng-template #contentTemp>
  <p>Content template</p>
</ng-template>
<ng-template #footerTemp>
  <p>Footer template</p>
</ng-template>
