<!-- Projeto card com projeção de conteúdo -->
<div class="container">
  <div class="item">
    <app-card-projecao>
      <app-card-header>
        <div class="card__header">
          <img src="../assets/icons/icon-client.png" appCardImageLarge />
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardText>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            tempor erat leo, nec rhoncus lectus feugiat eu. Duis massa diam,
            ornare consequat tempus at, ultrices in arcu. Aliquam tristique
            commodo felis vel porta. Praesent luctus fermentum maximus.
            Suspendisse eu arcu in massa aliquet malesuada.
          </p>
        </div>
      </app-card-content>
    </app-card-projecao>
  </div>

  <div class="item">
    <app-card-projecao>
      <app-card-header>
        <div class="card__header">
          <img src="../assets/icons/icon-hand.png" appCardImageSmall />
        </div>
      </app-card-header>
      <app-card-content>
        <div class="card__content">
          <p appCardText>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            tempor erat leo, nec rhoncus lectus feugiat eu. Duis massa diam,
            ornare consequat tempus at, ultrices in arcu. Aliquam tristique
            commodo felis vel porta. Praesent luctus fermentum maximus.
            Suspendisse eu arcu in massa aliquet malesuada.
          </p>
        </div>
      </app-card-content>
    </app-card-projecao>
  </div>
</div>
