<div>
  <p class="text-2xl font-semibold">Dependentes:</p>

  <ng-container *ngIf="dependents?.length === 0; else listDependents">
    <p class="text-lg">O usuário não possui dependentes.</p>
  </ng-container>

  <ng-template #listDependents>
    <div *ngFor="let dependent of dependents" class="grid sm:grid-cols-3">
      <app-user-info-item
        label="Nome"
        [value]="dependent.name"
      ></app-user-info-item>
      <app-user-info-item
        label="Idade"
        [value]="dependent.age.toString()"
      ></app-user-info-item>
      <app-user-info-item
        label="Documento"
        [value]="dependent.document | dependentDocument : true"
      ></app-user-info-item>
      <hr class="block sm:hidden" />
    </div>
  </ng-template>
</div>
