<mat-card>
  <mat-card-content>
    <form class="user-form" #formUser="ngForm" appPasswordConfirmationValidator>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-100">
          <mat-label>Nome:</mat-label>
          <input
            type="text"
            name="name"
            matInput
            [(ngModel)]="user.name"
            required
          />
          <mat-error>O <strong>Nome</strong> é obrigatório.</mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Usuário:</mat-label>
          <input
            #usernameControl="ngModel"
            type="text"
            name="user"
            matInput
            [(ngModel)]="user.username"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            [appCredentialsValidator]="'username'"
          />
          <mat-hint>
            O <strong>Usuário</strong> será usado para o login.
          </mat-hint>
          <mat-error *ngIf="usernameControl.hasError('required')">
            O <strong>Usuário</strong> é obrigatório.
          </mat-error>
          <mat-error
            *ngIf="
              usernameControl.hasError('usernameExist') &&
              !usernameControl.hasError('required')
            "
          >
            O <strong>Usuário</strong> já está sendo utilizado.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>E-mail:</mat-label>
          <input
            #emailControl="ngModel"
            type="text"
            name="email"
            matInput
            [(ngModel)]="user.email"
            [ngModelOptions]="{ updateOn: 'blur' }"
            required
            appEmailPatternValidator
            [appCredentialsValidator]="'email'"
          />
          <mat-error *ngIf="emailControl.hasError('required')">
            O <strong>E-mail</strong> é obrigatório.
          </mat-error>
          <mat-error
            *ngIf="
              emailControl.hasError('invalidEmailPattern') &&
              !emailControl.hasError('required')
            "
          >
            O <strong>E-mail</strong> é inválido.
          </mat-error>
          <mat-error
            *ngIf="
              emailControl.hasError('emailExist') &&
              !emailControl.hasError('required')
            "
          >
            O <strong>E-mail</strong> já está sendo utilizado.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Senha:</mat-label>
          <input
            #passwordControl="ngModel"
            type="password"
            name="password"
            matInput
            [(ngModel)]="user.password"
            (ngModelChange)="onPasswordChange($event)"
            required
            appPasswordStrengthValidator
          />
          <mat-progress-bar
            mode="determinate"
            [value]="passwordStrengthValue"
            [ngClass]="{
              'weak-password':
                passwordStrengthValue === 0 || passwordStrengthValue === 30,
              'medium-password': passwordStrengthValue === 60,
              'strong-password': passwordStrengthValue === 100
            }"
          ></mat-progress-bar>
          <mat-error *ngIf="passwordControl.hasError('required')">
            A <strong>Senha</strong> é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              passwordControl.hasError('invalidPasswordStrength') &&
              !passwordControl.hasError('required')
            "
          >
            Digite uma <strong>Senha</strong> mais forte.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Confirmação de Senha:</mat-label>
          <input
            type="password"
            name="confirmPassword"
            matInput
            ngModel
            #passwordConfirmationControl="ngModel"
            required
          />
          <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
            A <strong>Confirmação de Senha</strong> é obrigatória.
          </mat-error>
          <mat-error
            *ngIf="
              passwordConfirmationControl.hasError(
                'invalidPasswordConfirmation'
              ) && !passwordConfirmationControl.hasError('required')
            "
          >
            As <strong>Senhas</strong> estão incorretas.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Data de Nascimento:</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            name="birthDate"
            [ngModel]="dateValue"
            (dateChange)="onDateChange($event)"
            readonly
            required
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Confirmar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-hint>dd/mm/aaaa</mat-hint>
          <mat-error>
            A <strong>Data de Nascimento</strong> é obrigatória.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="user-form__item user-form__item-50">
          <mat-label>Estado:</mat-label>
          <mat-select name="estado" [(ngModel)]="user.state" required>
            <mat-option>-</mat-option>
            <mat-option *ngFor="let state of states" [value]="state.id">
              {{ state.descricaoContraida }} - {{ state.descricao }}
            </mat-option>
          </mat-select>
          <mat-error> O <strong>Estado</strong> é obrigatório. </mat-error>
        </mat-form-field>
      </div>
      <div class="user-form__row">
        <div class="user-form__musics">
          <mat-divider></mat-divider>
          <div class="user-form__musics-title">
            <h2>Minhas Músicas:</h2>
          </div>
          <table
            class="user-form__item user-form__item-100"
            mat-table
            [dataSource]="user.musics"
          >
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Título</th>
              <td mat-cell *matCellDef="let music">{{ music.title }}</td>
            </ng-container>

            <ng-container matColumnDef="band">
              <th mat-header-cell *matHeaderCellDef>Banda</th>
              <td mat-cell *matCellDef="let music">{{ music.band }}</td>
            </ng-container>

            <ng-container matColumnDef="genre">
              <th mat-header-cell *matHeaderCellDef>Gênero</th>
              <td mat-cell *matCellDef="let music">{{ music.genre }}</td>
            </ng-container>

            <ng-container matColumnDef="favorite">
              <th mat-header-cell *matHeaderCellDef>Favorita</th>
              <td mat-cell *matCellDef="let music">{{ music.isFavorite }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
