<mat-tab-group [(selectedIndex)]="currentTabIndex">
  <mat-tab label="Geral">
    <app-info-general
      *ngIf="!isEditMode"
      [user]="userSelected"
    ></app-info-general>
    <app-general-info-edit
      *ngIf="isEditMode"
      [userForm]="userForm"
      [countries]="countryList"
      [states]="stateList"
      (onCountrySelected)="onCountrySelected($event)"
    ></app-general-info-edit>
  </mat-tab>
  <mat-tab label="Contato">
    <app-contact-information [user]="userSelected"></app-contact-information>
    <app-contact-info-edit></app-contact-info-edit>
  </mat-tab>
  <mat-tab label="Dependentes">
    <app-dependent-list
      [dependents]="userSelected?.dependentsList"
    ></app-dependent-list>
    <app-dependent-list-edit></app-dependent-list-edit>
  </mat-tab>
</mat-tab-group>
